body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-box {
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    width: 300px;
    height: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Add a slight box-shadow */
}

.section-box:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Enlarge with a slightly larger shadow on hover */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
