body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.popup {
    background-color: #8B4513; /* Kraft Brown */
    color: white;
    text-align: center;
    padding: 3px; /* Reduce the padding to make it thinner */
    font-size: 14px; /* Reduce the font size to make it thinner */
}

a {
    color: white;
    text-decoration: underline;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px; /* Increase padding for the header */
}

h1 {
    margin: 0;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px; /* Reduce the padding to make it thinner */
}

#about-link {
    transition: transform 0.3s ease-in-out;
}

#about-link:hover {
    transform: scale(1.2);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    transition: transform 0.2s; /* Add a transition effect */
}

nav ul li:hover {
    transform: scale(1.2); /* Enlarge the link on hover */
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

p {
    line-height: 1.6;
}
